@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div class="person1">
    <div class="image">
        <img src="~/images/me.png" style="width:120px"/>
   </div>
    <div class="shortdesc">
        <h3>Hi, I am Tarek, nice to meet you!</h3>
    </div>
    <div class="longdesc">
        <p>
            orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam era
            t, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea taki
            mata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        </p>
    </div>
    <div class="hobbies">
        <h5><i> Reading Books/, Write Books/, More Examples/, More Examples </i></h5>
    </div>
</div>
<hr class="hr1"/>
<!--<div class="person1">
    <div class="image">
        <img src="~/images/p2.jpg" style="width:120px" />
    </div>
    <div class="shortdesc">
        <h3>Hi, I am Philip, nice to meet you!</h3>
    </div>
    <div class="longdesc">
        <p>
            orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam era
            t, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea taki
            mata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        </p>
    </div>
    <div class="hobbies">
        <h5><i> Reading Books/, Write Books/, More Examples/, More Examples </i></h5>
    </div>
</div>