@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1 class="welcome">Juicebox welcomes you</h1>

<p>- We just care about you.</p>

<div class="container-test1">
    <div class="bo1">
        <h2><i>Let our products fill you with LOVE and DETERMINATION.</i></h2>
        <p>

            Juicebox is the most LOVEd webshop on the World-Wide-Web. It provides a wide variation of products that DEFINITELY WILL fill you with LOVE and DETERMINATION.
            
        </p>
    </div>
    

</div>
<h3 class="h31"><i>WE VALUE OUR CUSTOMERS OPINION</i></h3><h6>--Here are some of them--</h6>
<div class="bq">
    <div class="blockquote">
        <h5><b>BILL GATES</b></h5>
        <p>
            I felt a lil bit sad so i googled for love and found this site. I'M PUMPED AS HELL NOW
            YEEEEEET

        </p>
    </div>
   
    <div class="blockquote1">
        <h5><b>Stefan Arbeit</b></h5>
        <p>
            Kann man schon fast als deutsche Präzisionsarbeit bezeichnen.
        </p>
    </div>
    <div class="blockquote2">
        <h5><b>Samuel L. Jackson</b></h5>
        <p>
           This website is f*cking amazing. 

        </p>
    </div>
</div>
